/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,600;1,700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,600;1,700&display=swap');

/*==BASIC-SETUP==*/
body {
  font-family: 'Inter Tight', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background: #fff;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin-bottom: 0;
}

/* scroll-bar */
.scrolltotop {
  width: 40px;
  height: 40px;
  border-radius: 100px 100px 0 0;
  background: #333333;
  text-align: center;
  padding-top: 8px;
  font-size: 20px;
  color: #ffffff;
  position: fixed;
  right: 8px;
  bottom: 10px;
  display: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
  color: #fff;
  background: rgba(51, 51, 51, 0.7);
}

/*==THIS IS START==*/
.nation-item1 {
  position: sticky;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  top: 0;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.nation-item3 {
  position: sticky;
  height: calc(100vh - 100px);
/*  overflow-y: scroll;*/
  top: 0;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.nation-item2 {
    position: sticky;
    top: 0;
    left: 0;
    
    overflow: hidden;
    background: #fff;
}

.nation-item1::-webkit-scrollbar {
  display: none;
}

.search-wrapper {
  position: relative;
}

.nation-item1-list {
  margin-top: 20px;
}

.nation-item1-list ul li {
  margin-top: 15px;
}

.nation-item1-list ul li a {
  font-weight: 200;
  font-size: 14px;
  transition: 0.2s all ease;
  color: #000000;
}

.nation-item1-list ul li:hover a {
  color: #ff0000;
  transition: 0.2s all ease;
}

/*.nation-item1-list ul li:nth-child(6) a {
  color: #ff0000;
}*/

.round-btn {
  width: 20px;
  height: 20px;
  color: #000000;
  margin-left: auto;
  cursor: pointer;
  margin-top: 14px;
}

.hidden-search-box {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 20;
  top: -6px;
  right: 0;
}

.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  width: calc(100% - 26px);
  padding: 8px 15px;
  outline: none;
  /*background: #000000;
  color: #ffffff;*/
  color: #000;
  border: 0;
  font-size: 15px;
  border: 1px solid #c2bfbf;
  border-left: 0;
}

.input-group input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  outline: none;
  width: 30px;
  height: 100%;
  background: white;
  color: #000;
  border: 1px solid #c2bfbf;
  border-left: 0;
  border-right: 0;
}

.nation-item3 iframe {
  width: 100%;
  height: 930px;
  filter: grayscale(95%);
}

.audio-wrapper {
  /*margin-top: 5px;*/
}

.nation-item2-list  {
  /*margin-top: 50px;*/
}

.nation-item2-list ul li {
  font-weight: 200;
  font-size: 14px;
  color: #000000;
}

.nation-item2-list2 {
  margin-top: 20px;
}

.nation-item2-list2 ul li {
  font-weight: 200;
  font-size: 14px;
  color: #000000;
}

.audio-wrapper audio {
  width: 100%;
  height: 60px;
  line-height: unset;
}

.info-window .audio-wrapper audio{
  height: 42px;
}

.selected{
  color: red!important;
}

.modal-image{
  margin-bottom: 10px;
  width:80px;
  height:80px;
  border: 1px solid;
}
.mfp-bg, .mfp-wrap{
/*  z-index: 1090!important;*/
  z-index: 10090!important;
}
.mfp-content{
/* z-index: 1092!important; */
 z-index: 10092!important; 
}
.carousel-item {  
/*  align-items: center!important;*/
  max-height: 100%!important;
}
.carousel-item img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  background-color: #fff;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  filter: invert(90%);
}

.nation-item2-desc {
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-panel {
  background-color: #fff;
  color: #000;
}

#shuffle, #backward, #forward {
  margin: 20px 10px 0 10px;
}

#shuffle i, #backward i, #forward i{
  font-size: 20px;
  margin-top: 4px;
  color: #707070;
}

.fa-shuffle.active {
  color: red !important;
}

.fa-shuffle {
  margin-left: 0px;
}


.Row1 {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    /*border-spacing: 10px; /*Optional*/*/
}
.Column1 {
    display: table-cell;
}

.Column1.buttons {
    width: 83px;
    vertical-align: middle;
}

.Column1.buttons i {
    margin: 0 8px;
    cursor: pointer;
    padding:0;
}

.info-window .Column1.buttons i {
  margin: 0 12px;
}

.Column1.buttons i:nth-last-child(1) {
    margin-right: 0;
}

.fa-times {
  font-size: 18px;
}

#myInput::placeholder{
  color: #6c757d;
}

.info-window audio::-webkit-media-controls-timeline {
    display: none;
}

.info-window .Column1.buttons{
  width: 100px;
}

.info-window .Column1.buttons i{
  font-size: 14px;
}

.info-window {
  max-height: 400px;
}