@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,600;1,700&display=swap');

/*==BASIC-SETUP==*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  background: #fff;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin-bottom: 0;
}

/* scroll-bar */
.scrolltotop {
  width: 40px;
  height: 40px;
  border-radius: 100px 100px 0 0;
  background: #333333;
  text-align: center;
  padding-top: 8px;
  font-size: 20px;
  color: #ffffff;
  position: fixed;
  right: 8px;
  bottom: 10px;
  display: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
  color: #fff;
  background: rgba(51, 51, 51, 0.7);
}

/*==THIS IS START==*/
.nation-item1 {
  position: sticky;
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.nation-item3 {
  position: sticky;
  height: 100vh;
/*  overflow-y: scroll;*/
  top: 0;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.nation-item2 {
    position: sticky;
    top: 0;
    left: 0;
    
    overflow: hidden;
    background: #fff;
}

.nation-item1::-webkit-scrollbar {
  display: none;
}

.search-wrapper {
  position: relative;
}

.nation-item1-list {
  margin-top: 20px;
}

.nation-item1-list ul li {
  margin-top: 15px;
}

.nation-item1-list ul li a {
  font-weight: 200;
  font-size: 16px;
  transition: 0.2s all ease;
  color: #000000;
}

.nation-item1-list ul li:hover a {
  color: #ff0000;
  transition: 0.2s all ease;
}

/*.nation-item1-list ul li:nth-child(6) a {
  color: #ff0000;
}*/

.round-btn {
  width: 20px;
  height: 20px;
  color: #000000;
  margin-left: auto;
  cursor: pointer;
  margin-top: 10px;
}

.hidden-search-box {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 20;
  top: 30px;
  right: 0;
}

.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  width: calc(100% - 26px);
  padding: 8px 15px;
  outline: none;
  background: #000000;
  color: #ffffff;
  border: 0;
  font-size: 15px;
}

.input-group input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  outline: none;
  width: 30px;
  height: 100%;
  background: #ff0000;
  color: #fff;
}

.nation-item3 iframe {
  width: 100%;
  height: 930px;
  filter: grayscale(95%);
}

.audio-wrapper {
  /*margin-top: 20px;*/
}

.nation-item2-list  {
  margin-top: 50px;
}

.nation-item2-list ul li {
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}

.nation-item2-list2 {
  margin-top: 20px;
}

.nation-item2-list2 ul li {
  font-weight: 200;
  font-size: 20px;
  color: #000000;
}

.audio-wrapper audio {
  width: 100%;
}

.selected{
  color: red!important;
}

.modal-image{
  margin-bottom: 10px;
  width:80px;
  height:80px;
  border: 1px solid;
}
.mfp-bg, .mfp-wrap{
/*  z-index: 1090!important;*/
  z-index: 10090!important;
}
.mfp-content{
/* z-index: 1092!important; */
 z-index: 10092!important; 
}
.carousel-item {  
/*  align-items: center!important;*/
  height: 100%!important;
}
.carousel-item img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  background-color: #fff;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  filter: invert(90%);
}

.nation-item2-desc {
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #fff;
     color: #000;
  }


#audio-player-container button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    width: 22px;
    height: 40px;
    float: left;
}
#audio-player-container {
  --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    position: relative;
    height: 80px;
    background: #fff;
}

#shuffle, #backward, #forward {
  margin: 20px 10px 0 10px;
}

#shuffle i, #backward i, #forward i{
  font-size: 20px;
  margin-top: 4px;
  color: #707070;
}

.fa-shuffle.active {
  color: red !important;
}

/*#audio-player-container::before {
    position: absolute;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(to left, #007db5, #ff8a00);
    z-index: -1;
}*/
#audio-player-container p {
    position: absolute;
    top: -18px;
    right: 5%;
    padding: 0 5px;
    margin: 0;
    font-size: 28px;
    background: #fff;
}
#audio-player-container #play-icon {
    margin: 20px 10px 0 10px;
}
#audio-player-container path {
    stroke: #000000;
}
#audio-player-container .time {
    display: inline-block;
    width: 37px;
    text-align: center;
    font-size: 20px;
    margin: 25px 0 18.5px 0;
    float: left;
}
#audio-player-container output {
    display: inline-block;
    width: 32px;
    text-align: center;
    font-size: 20px;
    margin: 10px 2.5% 0 5%;
    float: left;
    clear: left;
}
#audio-player-container #volume-slider {
    margin: 10px 2.5%;
    width: 58%;
}
#audio-player-container #volume-slider::-webkit-slider-runnable-track {
    background: rgba(0, 125, 181, 0.6);
}
#audio-player-container #volume-slider::-moz-range-track {
    background: rgba(0, 125, 181, 0.6);
}
#audio-player-container #volume-slider::-ms-fill-upper {
    background: rgba(0, 125, 181, 0.6);
}
#audio-player-container #volume-slider::before {
    width: var(--volume-before-width);
}
#audio-player-container #mute-icon {
    margin: 0 2.5%;
}
#audio-player-container input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 48%;
    margin: 0;
    padding: 0;
    height: 19px;
    margin: 30px 2.5% 20px 2.5%;
    float: left;
    outline: none;
}
#audio-player-container input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
#audio-player-container input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #007db5;
    cursor: pointer;
}
#audio-player-container input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
}
#audio-player-container input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #007db5;
}
#audio-player-container input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
#audio-player-container input[type="range"]::-moz-range-progress {
    background-color: #007db5;
}
#audio-player-container input[type="range"]::-moz-focus-outer {
    border: 0;
}
#audio-player-container input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
#audio-player-container input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
}
#audio-player-container input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
#audio-player-container input[type="range"]::-ms-fill-lower {
    background-color: #007db5;
}
#audio-player-container input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
#audio-player-container input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
#audio-player-container input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
}