.mb-20{
	margin-bottom:20px;
}
.error{
	color: #fa5c7c;
}
.tag.label-info{
	background: #727cf5;
    border-radius: 10px;
    border-radius: 3px;
    padding: 0px 7px 0px 7px;
}
.bootstrap-tagsinput{
	float: left;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 0.45rem 0.9rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.form-wrap.form-builder .stage-wrap{
    min-height: 528px !important;
}
.action-column{
    min-width: 200px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #727cf5;
    border: 1px solid #727cf5;
    color: white;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #dee2e6!important;
}
.checklist-row .applicable{
    display: none;
}
.task-done{
    text-decoration: line-through;
    color: #d0d0d0
}
.task-not-applicable{
    text-decoration: line-through;
    color: #d21010 !important;
}
.task-not-applicable .form-check{
    display: none;
}
.task-not-applicable .applicable{
    display: block;
}
.task-not-applicable .not-applicable{
    display: none;
}
input[data-switch]+label{
    background-color:#d7cbcb;
}
.td-tags{
    display: none;
}

@media(max-width:360px){
    .hide-table-td-mobile{
        display: none;
    }
}

@media(max-width:767px){
    .hide-table-td-mobile{
        display: none;
    }
}
.hidden{
    display: none;
}

.delete-video, .delete-audio {
    cursor: pointer;
}


#audio-player-container button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    float: left;
}
#audio-player-container {
  --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    position: relative;
    margin: 100px 2.5% auto 2.5%;
    width: 95%;
    max-width: 500px;
    height: 132px;
    background: #fff;
}
#audio-player-container::before {
    position: absolute;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(to left, #007db5, #ff8a00);
    z-index: -1;
}
#audio-player-container p {
    position: absolute;
    top: -18px;
    right: 5%;
    padding: 0 5px;
    margin: 0;
    font-size: 28px;
    background: #fff;
}
#audio-player-container #play-icon {
    margin: 20px 2.5% 10px 2.5%;
}
#audio-player-container path {
    stroke: #000000;
}
#audio-player-container .time {
    display: inline-block;
    width: 37px;
    text-align: center;
    font-size: 20px;
    margin: 28.5px 0 18.5px 0;
    float: left;
}
#audio-player-container output {
    display: inline-block;
    width: 32px;
    text-align: center;
    font-size: 20px;
    margin: 10px 2.5% 0 5%;
    float: left;
    clear: left;
}
#audio-player-container #volume-slider {
    margin: 10px 2.5%;
    width: 58%;
}
#audio-player-container #volume-slider::-webkit-slider-runnable-track {
    background: rgba(0, 125, 181, 0.6);
}
#audio-player-container #volume-slider::-moz-range-track {
    background: rgba(0, 125, 181, 0.6);
}
#audio-player-container #volume-slider::-ms-fill-upper {
    background: rgba(0, 125, 181, 0.6);
}
#audio-player-container #volume-slider::before {
    width: var(--volume-before-width);
}
#audio-player-container #mute-icon {
    margin: 0 2.5%;
}
#audio-player-container input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 48%;
    margin: 0;
    padding: 0;
    height: 19px;
    margin: 30px 2.5% 20px 2.5%;
    float: left;
    outline: none;
}
#audio-player-container input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
#audio-player-container input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #007db5;
    cursor: pointer;
}
#audio-player-container input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
}
#audio-player-container input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #007db5;
}
#audio-player-container input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
#audio-player-container input[type="range"]::-moz-range-progress {
    background-color: #007db5;
}
#audio-player-container input[type="range"]::-moz-focus-outer {
    border: 0;
}
#audio-player-container input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
#audio-player-container input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
}
#audio-player-container input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
#audio-player-container input[type="range"]::-ms-fill-lower {
    background-color: #007db5;
}
#audio-player-container input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
#audio-player-container input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
#audio-player-container input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
}
